body {
    /* background-color: #333; */
    text-align: center;
    color: #777;
    margin: 0;
}


/* 
  loading animation  
*/
.loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

p {
    font-size: clamp(2rem, 1.5vw, 100rem);
    content: 'dd';
}
